body{
    margin:0;
    padding: 0;
}
.links{
    margin: auto;
    width: 100%;
    height: 300px;
    background-color: rgb(247, 247, 247);
    font-family: rubik;
    font-weight: 400;
    line-height: 1.86em;
}
.links ul{
    list-style-type: none;
    float: left;
    margin-left: 150px ;
}
.links ul li h5{
    color: blue;
} 
.links ul li a{
    color: #797979;
    text-decoration: none;
    font-size: 15px;

}
.links ul li a:hover{
    color: blue;
}
.copyright{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: 40px;
    background-color: #eeeeee;
}
.clr{
    clear: both;
}
.copyright span{
    margin-left: 190px;
    font-family: rubik, sans-serif;
}
.copyright img{
    float: right;
    margin-right: 10px;
}
.in{
    margin-right: 100px;
}